.circle {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    z-index: 1;
}

.timeline {
    transform: translateX(-45%);
}

.p-timeline-event-content {
    width: 200%;
}

.experience-section {
    margin-top: 20px;
}

.experience {
    margin-bottom: 20px;
}

.experience-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.experience-company {
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-duration {
    margin-bottom: 10px;
}

.responsibilities-list {
    list-style: disc;
    margin-left: 20px;
}

.responsibility {
    margin-bottom: 5px;
}

.more-button {
    padding: 0 !important;
    border: none !important;
    background: none !important;
    outline: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}


.more-button:focus {
    outline: none !important;
}