.hero {
    background-color: #f8f8f8;
    margin: auto;
    padding: 8rem 1rem 0 1rem;
    width: 100%;
}

.hero .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.typing-header {
    overflow: hidden;
    /* Hide the text initially */
    border-right: .15em solid #ffea00;
    /* Add the cursor effect */
    white-space: nowrap;
    /* Prevent line breaks */
    font-size: 3em;
    /* Adjust font size as desired */
    animation: typing 2s steps(20), blink-caret 1s step-end infinite;
    opacity: 0.7;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

.hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.hero .content p:first-of-type {
    margin: 2rem 0;
}

.hero .content p:nth-child(4) {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 600;
}

.hero button {
    margin-top: 1rem;
}

.button {
    padding: 17px 28px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}

button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.download {
    padding: 17px 28px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
}

.download:hover {
    background: var(--primary-dark);
    color: var(--primary-dark) !important;
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}

@media screen and (max-width:940px) {
    .hero .container {
        grid-template-columns: 1fr;
    }

    .hero .container {
        width: 100%;
    }

    .hero .container .image {
        max-width: 50%;
        height: auto;
    }

    .hero .container .content {
        padding: 0;
    }

    .hero button {
        margin-bottom: 1rem;
    }
}