.my-navHeader {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: .3s ease-in;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(25px);
}

.my-navHeader .myNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.my-navHeader .my-navMenu a {
    color: #ffffff;
}

.my-navHeader .myNavbar img {
    width: 250px;
    height: auto;
}

.my-navHeader .my-navMenu {
    display: flex;
}

.my-navHeader .my-navItem {
    padding: 1rem;
    font-weight: 500;
}

.my-navItem .active {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.toggle_btn {
    cursor: pointer;
    display: none;
}

.my-navHeader .my-navItem a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.my-navItem:active {
    scale: 1.05;
}

/* @media screen and (max-width:940px) {
    .my-navHeader {
        max-width: 100%;
        background-color: rgba(0, 0, 0, .9);
    }

    .my-navHeader .myNavbar {
        max-width: 100%;
    }

    .my-navMenu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .9);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .my-navMenu.active {
        left: 0;
    }

    .my-navItem {
        margin: 1.5rem 0;
    }

    .my-navHeader .myNavbar img {
        width: 150px;
    }
} */

.dropdown_menu {
    display: none;
    position: fixed;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.openDropdown {
    height: 300px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 900px) {
    .my-navHeader {
        background: none;
        backdrop-filter: none;
    }

    .myNavbar .my-navItem {
        display: none;
    }

    .myNavbar .toggle_btn {
        display: block;
        z-index: 100;
    }

    .dropdown_menu {
        display: block;
        z-index: 100;
    }
}

@media(max-width: 400px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}