.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.elements {
    display: flex;
    flex-wrap: wrap;
}

.element {
    margin-right: 10px;
    /* Add some space between elements */
}

.button-container {
    margin-left: auto;
    /* Push the button to the right */
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #0d6efd !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}