.skill-card {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    width: 100%;
}

@media (min-width: 768px) {
    .skill-card {
        width: 100%;
        min-height: 250px;
        /* Adjusted width for screens larger than 768px */
    }
}

@media (min-width: 1200px) {
    .skill-card {
        width: 540px;
        min-height: 250px;
        /* Adjusted width for screens larger than 1200px */
    }
}