.logo-img {
    width: 20px;
    /* Default width for smaller screens */
}

@media (min-width: 768px) {
    .logo-img {
        width: 30px;
        /* Adjusted width for screens larger than 768px */
    }
}

@media (min-width: 1200px) {
    .logo-img {
        width: 32px;
        /* Adjusted width for screens larger than 1200px */
    }
}