.circle {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    z-index: 1;
}

.timeline {
    transform: translateX(-45%);
}

.p-timeline-event-content {
    width: 200%;
}

.experience-section {
    margin-top: 20px;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.experience {
    margin-bottom: 20px;
}

.experience-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.experience-company {
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-duration {
    margin-bottom: 10px;
}

.responsibilities-list {
    list-style: disc;
    margin-left: 20px;
}

.responsibility {
    margin-bottom: 5px;
}